* {
  margin: 0;
}
body {
  background-image: url(./images/blackback.png);
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.top {
  position: relative;
  width: 1920px;
  height: 960px;
  background-image: url(./images/main-screen__bgc.jpg);
}
.navbar {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  margin-left: 200px;
}
.navbar a {
  text-decoration: none;
  color: #e5e5e5;
  transition: 0.7s ease;
}
.navbar a:hover {
  color: red;
}
.navbar img {
  width: 50px;
  height: 50px;
}
.nav-item {
  list-style-type: none;
  padding-left: 100px;
}
.cabin {
  margin-left: 250px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
}
.cabin1 {
  width: 5.5%;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  margin-right: 140px;
}
.cabin1 a {
  text-decoration: none;
  color: #e5e5e5;
}
.cabin1:hover {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.top-text h1 {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  top: 30%;
  left: 17%;
}
.eightteen {
  color: #ffffff;
  background: #121212;
  text-align: center;
  width: 3%;
  padding: 20px 30px 30px 30px;
  position: absolute;
  top: 53%;
  left: 320px;
}
.eightteen1 {
  color: #ffffff;
  background: #121212;
  text-align: center;
  width: 3%;
  padding: 20px 30px 30px 30px;
  position: absolute;
  top: 53%;
  left: 470px;
}
.eightteen2 {
  color: #ffffff;
  background: #121212;
  text-align: center;
  width: 3%;
  padding: 20px 30px 30px 30px;
  position: absolute;
  top: 53%;
  left: 620px;
}
.eightteen3 {
  color: #ffffff;
  background: #121212;
  text-align: center;
  width: 3%;
  padding: 20px 30px 30px 30px;
  position: absolute;
  top: 53%;
  left: 770px;
}
#par {
  font-size: 36px;
  padding-bottom: 15px;
}
#agraph {
  color: white;
  font-size: 16px;
  opacity: 0.4;
}
.top-container {
  background-color: #121212;
  height: 130px;
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 87%;
}
.people {
  display: flex;
  margin-left: 120px;
}
.pupil p {
  color: white;
  opacity: 0.4;
  padding-bottom: 10px;
}
.amount {
  color: white;
  padding-left: 30px;
  margin-right: 130px;
}
.amount p {
  padding-bottom: 10px;
}
.will {
  display: flex;
  align-items: center;
}
.gradient {
  background-color: #ffffff;
  width: 500px;
  height: 6px;
}
.undergradient {
  width: 300px;
  height: 6px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}
.zero {
  color: white;
  opacity: 0.4;
  padding-top: 6px;
}
.underbottom {
  display: flex;
  position: relative;
  align-items: center;
}
.border {
  border: 30px solid rgba(200, 154, 252, 1);
  width: 526px;
  height: 499px;
  margin-top: 200px;
  margin-left: 312px;
  margin-bottom: 243px;
}
.under-text-right {
  width: 32.4%;
  color: #ffffff;
  margin-left: 139px;
  margin-bottom: 269px;
}
.under-text-right h2 {
  font-size: 48px;
  padding-bottom: 45px;
}
.under-text-right p {
  line-height: 25.6px;
}
.pc {
  position: absolute;
  top: 35%;
  left: 22%;
}

.start {
  padding-left: 280px;
  color: white;
}
.start h1 {
  padding-left: 20px;
  font-size: 48px;
}
#agraph1 {
  color: white;
  opacity: 0.4;
  line-height: 25.6px;
  padding-left: 15px;
  padding-top: 49px;
  padding-bottom: 150px;
}
.hundred {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 324px;
  height: 80px;
}
.sevenfive {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 324px;
  height: 60px;
}
.fifty {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 324px;
  height: 30px;
}
.total {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 324px;
  height: 10px;
}
.percents {
  display: flex;
  color: white;
  justify-content: space-evenly;
}

#minn {
  padding-left: 40px;
}
#summ {
  margin-right: 280px;
}
.allpercents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.underpercents {
  padding-top: 35px;
  padding-left: 40px;

  display: flex;
  margin: auto;
  width: 72%;
  color: white;
  opacity: 0.4;
}
.underpercents p {
  padding-left: 18px;
}
.item {
  color: white;
  text-align: center;
  width: 16.2%;
  padding-left: 82px;
}
.item img {
  width: 40%;
}
#usb {
  width: 18%;
}
#cabel {
  width: 34%;
}
.item h4 {
  padding-top: 66.25px;
  padding-bottom: 30px;
  line-height: 33.6px;
}
.item p {
  line-height: 160%;
  opacity: 80%;
}
.spec h1 {
  color: white;
  text-align: center;
  padding-bottom: 120px;
  padding-top: 200px;
}
.under-spec {
  display: flex;
  justify-content: center;
}
.brands h1 {
  padding-left: 20px;
  font-size: 48px;
  color: white;
  padding-bottom: 89px;
}
.brands {
  position: absolute;
  left: 20%;
  margin-top: 200px;
}
td {
  padding: 29px 66px 29px 66px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-collapse: collapse;
}
#td {
  border-bottom: none;
}
td:first-child {
  border-left: none;
}
.learning-program {
  position: absolute;
  top: 130%;
  left: 38.3%;
}
.img {
  text-align: center;
  color: white;
}
.img h1 {
  padding-top: 76.35px;
  padding-bottom: 30px;
}
.img p {
  padding-bottom: 80px;
}
.roadmap {
  text-align: center;
  color: white;
}
.week {
  text-align: right;
  position: absolute;
  top: 90%;
  left: 8%;
}
.week1 {
  text-align: right;
  position: absolute;
  top: 70%;
  left: 8%;
}
.week2 {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 8%;
}
.week3 {
  text-align: right;
  position: absolute;
  top: 30%;
  left: 8%;
}
.week4 {
  text-align: left;
  position: relative;
  position: absolute;
  top: 40%;
  padding-left: 20px;
  left: 58%;
}
.week5 {
  text-align: left;
  position: relative;
  position: absolute;
  top: 60%;
  left: 58%;
  padding-left: 20px;
}
.week6 {
  text-align: left;
  position: relative;
  position: absolute;
  top: 80%;
  left: 58%;
  padding-left: 20px;
}
#h {
  opacity: 0.5;
  font-size: 14px;
  padding-bottom: 15px;
}
hr {
  margin-left: 10px;
  border-width: 1px;
  width: 20%;
  position: absolute;
  top: 53%;
  left: 105%;
}

#hr {
  border-width: 1px;
  width: 20%;
  position: absolute;
  left: -27%;
}
.teachers {
  position: absolute;
  top: 170%;
  left: 10%;
  color: white;
}
.teachers h1 {
  margin-left: 100px;
}
.portret {
  text-align: center;
  position: relative;
  padding-left: 250px;
}
.portret img {
  padding-top: 113px;
  padding-bottom: 40px;
}
.portret p {
  padding-top: 15px;
  padding-bottom: 40px;
}
.bio {
  margin-left: 40px;
  position: absolute;
  color: white;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}
.bio:hover{
  background-color: white;
  color: black;
}
.teacher {
  display: flex;
}
footer {
  position: absolute;
  top: 187%;
  left: 600px;
  color: white;
}
footer h1 {
  text-align: center;
  font-size: 48px;
  padding-top: 200px;
}
footer p {
  text-align: center;
    padding-top: 30px;
  padding-bottom: 60px;
  opacity: 0.4;
}

footer input{
    width: Hug (160px);
    border-radius: 50px 0px 0px 50px;
    opacity: 0.25;
    font-size: 1.5em;
    padding: 10px 70px 10px 30px;
}
.subscribe{
    margin-left: 160px;
    display: flex;
    position: relative;
}
.sub{
    position: absolute;
    top: 2.4px;
    left: 320px;
    border-radius: 50px;
    width: 20%;
    padding: 15px 30px 15px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
#image{
    margin-left: 150px;
    padding-top: 40px ;
    width: 60%;
}
