.RTL{
    direction:rtl;
  }
  *{
    font-family: 'Poppins', sans-serif;
  }
  .all{
    background-color: rgb(33, 31, 31);
  }
.container{
  .navbar-brand p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    font-size: 32px;
  }
  .nav-item a{
    color: rgba(152, 152, 152, 1);
    transition: 1s ease;
    font-size: 1.2em;
  
  }
  .nav-item a:hover{
    color: rgb(186, 51, 51);
  }
  #home{
    color: rgba(255, 255, 255, 1);
  }
  .nav-item{
    padding-left: 41px;
  }
 .navbar-nav{
width: 22%;
 }
 
}

.main{
  display: grid;
  grid-template-columns: 28% 40%;
  grid-template-rows: auto;
  justify-content: center;
  
  .main-items1{
    padding-top: 218px;
    color: rgba(255, 255, 255, 1);
    .welcome{
      font-weight: 150;
      font-size: 25.4px;
      line-height: 38.11px;
      letter-spacing: 36%;
      text-transform: uppercase;
    }
    h1{
      font-size: 67.11px;
      font-weight: 600;
      padding-bottom: 15px;
    }
    h2{
      font-family: 'Questrial', sans-serif;
      word-spacing: 40px;
      padding-top: 119px;
    }
    .junior{
      font-size: 19.89px;
      line-height: 29.83px;
      letter-spacing: 1px;
      font-weight: 100;
      padding-bottom: 35.2px;
    }
    .download-cv p{
     background: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
     width: 37.5%;
     padding-bottom: 16.98px;
     padding-top: 16.98px;
     padding-left: 46.49px;
     padding-right: 46.49px;
     border-radius: 10px;
    }
    .download-cv a{
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
      transition: 0.7s ease;
    }
    .download-cv a:hover{
      color: rgb(239, 21, 21);

    }
  }
 .main-items2{
  display: grid;
  justify-content: flex-end;
 } 
}

.aboutme{
  padding-top: 100px;
  display: grid;
  grid-template-columns: 28% 40%;
  grid-template-rows: auto;
  justify-content: center;
  .aboutme-items1{
    background-image: url(./images/backimg.png);
    background-repeat: no-repeat;
    background-size: 71%;
    position: relative;
 
    img{
    width: 71%;
    position: absolute;
    top: 35px;
    left: 39px;
    }
  }
  
  .aboutme-items2{
    display: grid;
    justify-content: center;
    justify-items: center;
    h1{
      color: rgba(255, 255, 255, 1);
      font-size: 110px;
      font-weight: 900;
    }
    #about{
      color: rgba(81, 153, 255, 1);  
    }
    p{
      color: rgba(255, 255, 255, 1);
      font-weight: 400;
      width: 65%;
      font-size: 19px;
    }
  }
}
.myskills{
  .skill-hr{
    color: rgba(255, 255, 255, 1);
  width: 174.78px;
  border-top: 3px solid rgba(255, 255, 255, 1);
  }
  margin-left: 300px;
  margin-top: 116px;
  h1{
    font-size: 56.48px;
    line-height: 84.72px;
    letter-spacing: 5%;
    color: rgba(255, 255, 255, 1);
  }
  .languages-code{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    .coding{
      display: flex;
      align-items: center;
     border-right: 2px solid aqua;
      font-size: 2em;
      color: rgba(255, 255, 255, 1);
      p{
        padding-left: 20px;
        padding-right: 10px;
      }
    }
    .coding1{
      display: flex;
      align-items: center;
      font-size: 2em;
      color: rgba(255, 255, 255, 1);
      p{
        padding-left: 20px;
        padding-right: 10px;
      }
    }
  }
}
.lang-studies{
  display: grid;
  grid-template-columns: 26% 38%;
  grid-template-rows: 450px;
  justify-content: center;
  gap: 100px;
  .lang-studies-items1{
    h1{
      font-size: 56.48px;
      color: rgba(255, 255, 255, 1);
      padding-bottom: 10px;
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      
    }
    h3{
      font-size: 29.55px;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 44.32px;
      padding-top: 34px;
    }
  }
  .lang-studies-items2{
    h1{
      font-size: 56.48px;
      color: rgba(255, 255, 255, 1);
      padding-bottom: 10px;
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      
    }
  
    .univer{
      display: flex;
      align-items: center;
      padding-top: 40px;
      #school{
        font-size: 80px;
        color: rgb(20, 165, 228);
      }
    .text-univer{
      color: rgba(255, 255, 255, 1);
      padding-left: 21px;
    }
    .text-univer p{
      font-weight: 100;
    }
    }

  }
  .gradient{
    width: 488.42px;
    height: 24.3px;
    background: linear-gradient(90deg, #3C1DFF 18.63%, #14C9C9 78.88%);
    border-radius: 50px;
   
  }
  
  .pdiv{
    display: grid;
    justify-items: end;
  }
  .pdiv p{
    color: rgba(255, 255, 255, 1);
  }
}
.work-projects{
  display: grid;
  grid-template-columns: 602px 602px;
  grid-template-rows: auto 452px 452px;
  grid-template-areas: 
  'header header';
  justify-content: center;
  gap: 60px;
  .work-project-items1{
    grid-area: header;
    
  }
  .work-project-items2{
   img{
      width: 100%;
      height: 48.3vh;
    }
  }
  .work-project-items3{
   img{
      width: 100%;
      height: 48.3vh;
    }
  }
  .work-project-items4{
   img{
      width: 100%;
      height: 48.3vh;
    }
  }
  .work-project-items5{
   img{
      width: 100%;
      height: 48.3vh;
    }
  }
  
  h1{
    font-size: 56.48px;
    line-height: 84.72px;
    letter-spacing: 5%;
    color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid rgba(255, 255, 255, 1);
  }
  .project-item:hover{
    box-shadow: 10px 8px 30px rgb(106, 126, 126);
  }
}
.last-quest{
  padding-top: 180px;
  display: grid;
  justify-content: center;
  justify-items: center;
  h1{
    font-size: 56.48px;
    color: rgba(255, 255, 255, 1);
    line-height: 84.72px;
    font-weight: 600;
  }
  p{
    color: rgba(158, 158, 158, 1);
    font-size: 19.12px;
    line-height: 19.12px;
    font-weight: 200;
    padding-bottom: 24px;
  }
  .download-cv p{
    background: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
    padding-bottom: 16.98px;
    padding-top: 16.98px;
    padding-left: 46.49px;
    padding-right: 46.49px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);;
   }
   .download-cv a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: 0.7s ease;
  }
  .download-cv a:hover{
    color: rgb(239, 21, 21);

  }
}
#cplus{
width: 106px;
height: 125px;
}
#github{
  width: 140px;
  height: 125px;
  
}







