body
{
    margin: 0;
    text-align: center;
    background-color: azure;
    background-image: url(../images/backvideo.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
  
}
ul
{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.header
{
    display: flex;
    justify-content: center;
    background-color: rgb(91, 93, 18);

}
#signup
{
   margin-left: 47.5em;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    padding: 30px;
    font-size: 1.5em;
    color: rgb(247, 247, 247);
}
a:hover
{
    color: black;
}
button
{
    width: 120px;
    font-size: 1.3em;
    display: inline;
}
.body
{
text-align: center;   

    
}
video
{
   width: 450px;
   height: 300px; 
   border: 2px solid rgb(220, 1, 1);
   border-radius: 5em;
   border-top-width: 20px;
   border-bottom-width: 20px;
   border-style: ridge;

}
img
{
    width: 450px;
    height: 600px; 
    
}
h1
{
    color: rgb(0, 255, 255);
}
#h1
{
    color: azure;
}
#sxcd
{
    font-size: 5em;
    text-align: center;
    margin-top: 150px;
}
.body1
{
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    
}

.all
{
    display: flex;
    justify-content: center;
    text-align: center;
}

