
body
{
    text-align: center;
    background-image: url(../images/GTA2BACK.jpg);
}
p
{
    color:rgb(204, 15, 204);
    font-size: 25px;
    
}
h1
{
    color: aquamarine;
}
#other
{
    color: rgb(9, 201, 244);
}
.gtaimg
{
    color: aquamarine;
    border: 4px solid;
    width: 25%;
    float: left;
    margin:40px;
    padding: 10px;
}

img 
{
    width:100%;
   
}
