body
{
    margin: 0;
    text-align: center;
    background-color: azure;
    background-image: url(../images/backaudio.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
}
ul
{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.header
{
    display: flex;
    justify-content: center;
    background-color: rgb(91, 93, 18);

}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    padding: 30px;
    font-size: 1.5em;
    color: rgb(247, 247, 247);
}
a:hover
{
    color: black;
}

h1
{
    color: rgb(0, 255, 255);
    padding-top: 100px;
}
#h1
{
    color: rgb(7, 235, 10);
}
#sxcd
{
    font-size: 5em;
    text-align: center;
    margin-top: 150px;
    color: rgb(0, 245, 245);
}
.body1
{
    text-align: center;
    padding: 70px;
    padding-top: 100px;
    
}

.all
{
    display: flex;
    justify-content: center;
   text-align: center;
}

